@using System.Runtime;
@using System.Collections.Generic;
@using System.Drawing;
@using MySystem.Base.Extensions;
@using WebDB.DBBO;
@using WebDB.DBPO;
@using WebDB.DBPO.Helper;

@model Webinar

<script type="text/javascript">
    (function () {
        var selectedIds;
        $(document).ready(function () {
            $('.webinar-content').on('click', function () {
                $("#webinarBasicInfoForm").submit();
                $.ajax({
                    type: "POST",
                    url: 'Webinar/HtmlEditorPart',
                    data: { id: @Model.ID, type: 'Content' },
                    success: function (response) {
                        var pv = ASPxClientPopupControl.Cast('pcModalMode');
                        pv.SetHeaderText('Contents');
                        $("#htmleditor").html(response);
                        pcModalMode.Show();
                    }
                });
            });
            $('.webinar-reference').on('click', function () {
                $("#webinarBasicInfoForm").submit();
                $.ajax({
                    type: "POST",
                    url: 'Webinar/HtmlEditorPart',
                    data: { id: @Model.ID, type: 'Reference' },
                    success: function (response) {
                        var pv = ASPxClientPopupControl.Cast('pcModalMode');
                        pv.SetHeaderText('Reference');
                        $("#htmleditor").html(response);
                        pcModalMode.Show();
                    }
                });
            });
        });
    })();
    function updateHtml(s, e) {
        var pv = ASPxClientPopupControl.Cast('pcModalMode');
        var editor = ASPxClientHtmlEditor.Cast("htmlData");
        editor.PerformDataCallback("", function (s) {
            $.ajax({
                type: "POST",
                url: 'Webinar/WebinarEditFormPartial',
                data: { id: @Model.ID  },
                success: function (response) {
                    $("#webinarEditableContainer").html(response);
                }
            });
        });
        pcModalMode.Hide();

        var formView = ASPxClientGridView.Cast('webinarView');
        formView.Refresh();
    }
    //function synchronizeCategory(dropDown, args) {
    //    cmbCategory.SetText(cmbCategory.FindItemByValue(cmbCategory.GetText()).text);
    //}

</script>

@Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "pcModalMode";
        settings.Width = 1024;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.PopupAnimationType = AnimationType.None;
        settings.HeaderText = "Webinar";
        settings.Modal = true;
        settings.AutoUpdatePosition = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SetContent(() =>
        {
            using (Html.BeginForm())
            {
                //Html.Hidden("ProductID");

                @Html.DevExpress().FormLayout(s =>
                {
                    s.Name = "ModalModeFormLayout";
                    s.RequiredMarkDisplayMode = RequiredMarkMode.None;
                    s.Width = Unit.Percentage(100);
                    s.Height = Unit.Percentage(100);

                    s.NestedExtensionWidth = Unit.Percentage(100);
                    s.Items.Add(i =>
                    {
                        i.ShowCaption = DefaultBoolean.False;
                        i.SetNestedContent("<div id='htmleditor'></div>");
                    });
                    s.Items.Add(i =>
                    {
                        i.ShowCaption = DefaultBoolean.False;
                        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                        i.SetNestedContent(() =>
                        {
                            Html.DevExpress().Button(
                                buttonSettings =>
                                {
                                    buttonSettings.Name = "btnCancel";
                                    buttonSettings.ControlStyle.CssClass = "button";
                                    buttonSettings.Width = 80;
                                    buttonSettings.Text = "Cancel";
                                    buttonSettings.ClientSideEvents.Click = "function(s, e){ pcModalMode.Hide(); }";
                                }
                            ).Render();
                            Html.DevExpress().Button(
                                buttonSettings =>
                                {
                                    buttonSettings.Name = "btnUpdate";
                                    buttonSettings.ControlStyle.CssClass = "button";
                                    buttonSettings.Width = 80;
                                    buttonSettings.Text = "OK";
                                    buttonSettings.ClientSideEvents.Click = "updateHtml";
                                }
                            ).Render();
                        });
                    });
                }).Render();
            }
        });

        //settings.ClientSideEvents.CloseUp = "function(s, e){ ASPxClientEdit.ClearEditorsInContainer(null, '', true); }";
    }).GetHtml()

@using (Ajax.BeginForm("WebinarEditFormUpdatePartial", "Webinar", new { id = Model.ID },
                        new AjaxOptions { HttpMethod = "POST" },
                        new { @id = "webinarBasicInfoForm", @name = "webinarBasicInfoForm" }))
{
    Html.DevExpress().FormLayout(settings =>
    {
        settings.Name = "pvEditForm";
        settings.SettingsItems.ShowCaption = DefaultBoolean.True;
        settings.Width = Unit.Percentage(100);

        settings.Items.AddGroupItem(g =>
        {
            g.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Left;
            g.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Right;
            g.ShowCaption = DefaultBoolean.False;
            g.Height = Unit.Percentage(100);
            g.Width = Unit.Percentage(100);
            g.ColumnCount = 3;
            g.Items.Add(m => m.Issue, s =>
            {
                s.Width = Unit.Percentage(33);
                s.NestedExtensionSettings.Width = Unit.Percentage(100);
            });
            g.Items.Add(m => m.Author, s =>
            {
                s.Width = Unit.Percentage(33);
                s.NestedExtensionSettings.Width = Unit.Percentage(100);
            });
            g.Items.Add(m => m.ThumbnailImage, s =>
            {
                s.RowSpan = 5;
                s.Caption = "Image";
                s.Width = Unit.Percentage(34);
                s.NestedExtensionSettings.Width = Unit.Percentage(100);
                var image = (BinaryImageEditSettings)s.NestedExtensionSettings;
                image.Properties.EnableServerResize = false;
                image.Properties.ImageSizeMode = ImageSizeMode.FitProportional;
                image.CallbackRouteValues = new { Action = "BinaryImagePhotoUpdate", Controller = "Webinar", Target = "ThumbnailImage" };
                image.Properties.EditingSettings.Enabled = true;
                image.Properties.EditingSettings.UploadSettings.UploadValidationSettings.MaxFileSize = EnvHelper.MAX_UPLOAD_SIZE;
                image.Properties.EditingSettings.UploadSettings.TemporaryFolder = EnvHelper.CACHE_DIR;
                image.Properties.EditingSettings.UploadSettings.UploadMode = UploadControlUploadMode.Auto;
                image.Properties.ClientSideEvents.ValueChanged = "saveThumbnailFileName";
            });
            g.Items.Add(m => m.Topic, s =>
            {
                s.ColumnSpan = 2;
                s.Width = Unit.Percentage(66);
                s.NestedExtensionSettings.Width = Unit.Percentage(100);
            });
            g.Items.Add(m => m.Reference, s =>
            {
                s.Width = Unit.Percentage(66);
                s.ColumnSpan = 2;
                s.NestedExtensionSettings.Width = Unit.Percentage(100);
            });
            g.Items.Add(m => m.VideoLink, s =>
            {
                s.Width = Unit.Percentage(66);
                s.ColumnSpan = 2;
                s.NestedExtensionSettings.Width = Unit.Percentage(100);
            });
            g.Items.Add(m => m.Tags, s =>
            {
                s.Width = Unit.Percentage(66);
                s.ColumnSpan = 2;
                s.NestedExtensionSettings.Width = Unit.Percentage(100);
            });

            g.Items.Add(m => m.Published);
            g.Items.Add(m => m.MaxRegistrants);
        });
//settings.Items.Add(m => m.BannerImage, i =>
//{
//    i.Caption = "BannerImage";
//});

settings.Items.Add(m => m.WebinarContent, i =>
        {
            i.Caption = "Contents";
            i.CaptionStyle.CssClass = "PopHtmlEditor webinar-content";
            i.SetNestedContent(() =>
            {
                ViewContext.Writer.Write("<div>" + Model.WebinarContent + "</div>");
            });
        });
    }).Bind(Model).GetHtml();
    @Html.Hidden("ThumbnailImage_hiddenFieldID");
}
